* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito Sans";
}

.title {
    font-weight: 800;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}