* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito Sans";
}

body.dark {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 100%, 100%);
}

.dark-mode {
    cursor: pointer;
}

main {
    padding: 24px;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.title {
    font-weight: 800;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-inline: 24px;
    margin-inline: auto;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.container {

    width: 95vw;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.countryCard {
    display: inline-block;
    width: 250px;
    border-radius: 4px;
    padding-bottom: 16px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card-title {
    font-size: 24px;
    margin-block: 12px;
}

.card-text {
    padding-inline: 16px;
}

.card-text p {
    margin-block: 8px;
}

.countryCard:hover {
    transform: scale(1.05)
}

.countryCard img {
    width: 100%;
}

#search {
    width: 400px;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.searching {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 16px 0 48px 0;
    margin-inline: auto;
}

#filter {
    width: 200px;
    /* border: none; */
    border-radius: 4px;
    padding: 16px;
    /* outline: 8px ridge rgb(170 50 220 / 0.6); */
}